

.card {
  width: 490px; /* Largeur de la carte */
  margin: 0 auto; /* Centrer la carte horizontalement */
  margin-top: 10px; /* Marge supérieure pour l'espacement */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre de la carte */
}

.card-body {
  padding: 20px; /* Espacement interne du contenu de la carte */
}

.card-title {
  text-align: center; /* Centrer le titre de la carte */
}

.form-group {
  margin-top: 20px; /* Marge supérieure pour l'espacement */
}

/* Optionnel : Styling pour la sélection */
.form-control {
  width: 100%; /* Largeur de la liste déroulante */
}

/* Optionnel : Styling pour les colonnes */
.col {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu verticalement */
}

.col h6 {
  margin-bottom: 10px; /* Marge inférieure pour l'espacement du titre */
}

