/* jeu.component.css */
.container {
  max-width: 600px;
}

p {
  margin-top: 10px;
}

.text-orange {
  color: orange;
  font-size: x-large;
  font-family: Verdana;
  font-weight: bold;


}

.background{
  background-color:#052c65;
}
