img{
  width:30px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  border: 1px solid #ccc;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.table-row div {
  flex: 1;
  text-align: center;
}
